<!DOCTYPE html>
<html>
  <head>
    <title>KAKAXI MAP</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      const rows = JSON.parse('<%= rows.to_json %>')

      function initMap() {
        var myLatLng = rows[0][0];

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2.5,
          center: myLatLng
        });

        infowindows = []
        markers = []

        for (row of rows) {
          var infowindow = new google.maps.InfoWindow({
              content: '<h3>' + row[1] + ' (' + row[2] + ')' + '</h3>' +
                '<img width="200" src=' + row[3] + '>'
          });

          var marker = new google.maps.Marker({
            position: row[0],
            icon: "<%= uri('/kakaxi_logo.png') %>",
            map: map,
            title: row[1]
          });

          markers.push(marker)
          infowindows.push(infowindow)
        }

        for (i=0;i<markers.length;i++) {
          markers[i].addListener('click', (function(infowindows, i) {
            return function() {
              for (infowindow of infowindows) {
                console.log(infowindow)
                infowindow.close()
              }
              infowindows[i].open(map, markers[i]);
            }
          })(infowindows, i));
        }

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA52WTGJSPbx6fO_FbwA4yxkwn2dRtYD-I&callback=initMap"
    async defer></script>
  </body>
</html>
